#myheading {
    background-color: lightgreen; 
}

.hd {
    color: pink; 
}
table {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #4CAF50; 
    border-collapse: collapse;
}